*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: darkgray;
  padding-bottom: 16px;
}
.header nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header nav ul{
  display: flex;
  list-style: none;
}
.header nav ul li{
  margin: 0 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}
.banner{
  height: 130px;
  background-color: aliceblue;
}
.main_section{
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ranking{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ranking_table{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.ranking_table th, td{
  padding: 8px;
  border: 1px solid #ddd;
}
.ranking_table th{
  background-color: #f2f2f2;
}
.ranking_title{
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0;
}